body {
  background-color: red;
  color: white;
  font-family: helvetica;
  text-align: left;

}

h1 {
  color: yellow;

}

h2 {
  color: red;

}

button {
  background-color: black;
  font-weight: bold;
  color: white;
  border: 10px solid #ffff00;
  border-radius: 5px;

}

button:hover {
  background-color: white;
  color: black;

}
